a, a:hover{
    text-decoration: none;
}

.title{
    text-align: center;
    margin: 30px;
    background-color: #ffe385;
}

.list-icon{
    margin-right: 15px; 
}

.title-container{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
}

.box{
    margin: 3px;

}

.box-completed{
    background-color: #d1ccbc;
}

.trash-icon{
    float: right;
}

@media only screen and (max-width: 720px){
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    .form-control, p{
        font-size: 13px;
    }
    a{
        font-size: 11px;
    }
}